/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
.main-container {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
.edition_mode {
  background-color: black;
  color: white;
  font-family: "Work Sans";
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 59px;
  visibility: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0px 0;
}
section {
  margin: 100px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #b1663c;
}

form a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portofolio {
  margin-top: 100px;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 51px;
  padding-left: 115px;
}

.modal2{
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
}

.modal-add{
  position: relative;
  overflow: auto;
  width: 630px;
  max-width: calc(100vw - 20px);
  height: 688px;
  max-height: calc(100vh - 20px);
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.fa-arrow-left{
font-size: 24px;
position: absolute;
top: 3%;
left: 3%;
cursor: pointer;
}
.add-picture{
	border-bottom: 1px solid #B3B3B3; 
	padding-bottom: 47px;
	margin-right : 106px;
	margin-left : 106px;
}

#portfolio form{
text-align: left;
display: flex;
flex-direction: column;
}

#portfolio .valid {
  height: 51px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#portfolio label {
  margin: 2em 0 1em 0;
}
.bg-picture{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#E8F1F6 ;
  height: 169px;
  width: 420px;
}

.input-addPhoto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.fa-image{
  color:#CBD6DC;
  font-size: 76px;
  margin-top :13px;
  margin-bottom: 6px;
}


.imgVisuel img{
  width: 129px;
  height: 169px;
  margin-top: -170px;
  visibility: hidden;
}

.error{
  color : red;
  visibility: hidden;
  font-size: 16px !important;
}

#portfolio input[type="text"]{
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


.valid{
  width:237px !important;
  background-color: #A7A7A7 !important;
	height: 36px;
	font-size: 14px;
	padding : 10px 0px 9px 0px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
} 

.bgGreen{
  background-color: #1d6154!important;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
}

.modal-wrapper {
  position: relative;
  overflow: auto;
  width: 630px;
  max-width: calc(100vw - 20px);
  height: 688px;
  max-height: calc(100vh - 20px);
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.fa-xmark {
  font-size: 24px;
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
}

.title-modal {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 36px;
  font-size: 1.625em;
  font-weight: 400;
  color: black;
}

 .add-photo{
	width:237px !important;
	height: 50px;
	font-size: 14px;
	padding : 10px 0px 9px 0px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  cursor: pointer;
} 
#select{
height: 50px;
font-size: 1.2em;
border: none;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#image{
  background-color: #CBD6DC;
  color: #306685  ;
  font-size: 14px ;
  font-weight: 500;
  border-radius: 50px;
  padding:10px 33px 10px 33px;
   margin-top: 6px !important;
  margin-bottom: 7px !important ; 
  display: flex;
  align-items: center;
 cursor: pointer;
}

 #fileItem{
  display: none;
} 

.bg-picture p{
  margin-bottom: 19px;
  font-size : 10px;
 
}

.gallery-modal{
	border-bottom: 1px solid #B3B3B3; 
	padding-bottom: 68px;
	margin-right : 106px;
	margin-left : 106px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 6px;
	grid-row-gap: 20px;
}


.gallery-modal figure{
	position : relative;
}
.gallery-modal img{
	width: 100% ;
	height: 104px;
}

.fa-trash-can{
	position: absolute;
	padding: 3px 4px 3px 4px;
	background-color: black;
	color : white;
	font-size: 12px;
	right: 0;
	margin-right: 4px;
	margin-top: 4px;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
}

.modify {
  display: flex;
  gap: 10px;
  margin-bottom: 47px;
  cursor: pointer;
  visibility: hidden;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

.filter-container {
  text-align: center;
  margin-bottom: 51px;
  display: block;
}
/*Ajout style pour boutons filtres*/
.all,
.objects,
.apartments,
.hotels {
  background-color: transparent;
  border: 1px solid #1d6154;
  border-radius: 20px;
  padding: 9px 25px;
  color: #1d6154;
  font-weight: 700;
  cursor: pointer;
}

.checked {
  background-color: #1d6154;
  color: white;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
